body {
    background-image: url("/image/photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  h1{
    text-align: center;
  }

  .contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten en varias líneas */
    gap: 20px; /* Espacio entre las tarjetas */
    justify-content: center; /* Centra las tarjetas horizontalmente */
  }
  
  /* Estilos para cada tarjeta */
  .tarjeta {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 390px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 15px;
    font-family: sans-serif;
  }
  
  .titulo {
    font-size: 24px;
    padding: 10px 10px 0 10px;
    border-radius: 15px 15px 0 0 ;
    background-color: rgba(204, 204, 4, 0.829);
  }
  
  .cuerpo {
    padding: 10px;
    background-color:rgba(204, 204, 4, 0.829);
  }
  
  .pie {
    background: yellow;
    border-radius: 0 0 15px 15px;
    padding: 10px;
    text-align: center;
  }
  
  .pie a {
    text-decoration: none;
    color: black;
    font-size: large;
  }
  
